.experience-layout {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 300px;
}

div h2 {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 1.8rem;
}