.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(8px);
}

.navbar a {
    color: #000000;
    font-weight: 500;
}

.navbar a:link {
    text-decoration: none;
}