.navbar {
    position: fixed;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    font-size: x-large;
}

.navbar a {
    color: #000000;
    font-weight: 500;
}

.navbar a:link {
    text-decoration: none;
}